<div class="container content">
  <div class="row" >
    <div class="col col-6">
      <input id="input" type="text" size="30" pInputText placeholder="Add new todo" [(ngModel)]="newToDo">
      <button class="mat-button btn-success" style="margin-left: 30px" (click)="addItem()">Add</button>

      <table class="table">
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of todos|async; let i=index">
    <th scope="row">{{i+1}}</th>
    <td><input [value]="item.todo" [(ngModel)]="editableValue" *ngIf="isEdit&&(editedItemIndex === i)" type="text"><p *ngIf="(!isEdit||
editedItemIndex !== i)" >{{item.todo}}</p></td>
    <td> <button class="mat-button btn-secondary" (click)="editItem(i)">Edit</button></td>
    <td><button class="mat-button btn-secondary" (click)="deleteItem(i)">X</button></td>
  </tr>
  </tbody>
</table>
    </div>
  </div>
  <div >
  <div><button mat-fab class="fab-toggler open-chat"
          (click)="onToggleFab()" color="secondary">
    <i class="material-icons">add</i>
  </button>
  </div>
    <div class ="chat">
 <app-chat *ngIf="openChat"></app-chat>
    </div>
  </div>
</div>

